# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
!.vscode/settings.json


# =========================
# Entornos (por si a futuro)
# =========================
.env
.env.*

# =========================
# Ignorar la carpeta node_modules porque contiene dependencias instaladas con npm
# y no deben subirse al repositorio (se regeneran con 'npm install')
# =========================
node_modules/

# =========================
# Ignorar archivos de logs que se generan automáticamente
# =========================
*.log
