# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
!.vscode/settings.json

# =========================
# Logs (por si a futuro)
# =========================
*.log

# =========================
# Entornos (por si a futuro)
# =========================
.env
.env.*
